/* Официальные шрифты Росатома */

@font-face {
    font-family: 'Rosatom';
    src: url('./fonts/Rosatom-Light_W.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('./fonts/Rosatom-Regular_W.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('./fonts/Rosatom-Bold_W.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('./fonts/Rosatom-Italic_W.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

